<?xml version="1.0" encoding="UTF-8"?>  
<opencv_storage>  
<!-- 要求value设置全部采用字符串 -->
<!-- <group>  
    <port name="can0" type="can">  
        <package id="0x201" name="CAN_ID_CHASSIS" debug="DEBUG_PRINT_ID_IF_RECEIVED; DEBUG_PRINT_BUFFER"/>  
        <package id="0x202" name="CAN_ID_GIMBAL" debug="0"/>  
        <package id="0x203" debug="0"/>  
    </port>  
    <port name="can1" type="can">  
        <package id="0x204" debug="0"/>  
        <package id="0x205" debug="0"/>  
        <package id="0x206" debug="0"/>  
    </port>  
</group>   -->
<group>  
    <port name="/dev/ttyUSB0" baud="115200" type="serial">  
        <package id="0x301" name="SERIAL_ID_JUDGE" debug="DEBUG_PRINT_ID_IF_RECEIVED|DEBUG_PRINT_BUFFER|DEBUG_PRINT_TARGET"/>  
        <package id="0x302" name="SERIAL_ID_SHOOT" debug="0"/>  
        <package id="0x303" debug="0"/>  
    </port>  
    <!-- <port name="/dev/pts/5" baud="115200" type="serial">  
        <package id="0x304" debug="0"/>  
        <package id="0x305" debug="0"/>  
        <package id="0x306" debug="0"/>  
    </port>   -->
</group>  
</opencv_storage>