<?xml version="1.0" encoding="UTF-8"?>  
<opencv_storage>  
<reinit>
    <!-- 端口崩溃时重启次数 -->
    <cnt>6</cnt> 
</reinit>
<user>
    <!-- 用户密码，用于执行sudo -->
    <passwd>w</passwd>
</user>

<!-- 要求value设置全部采用字符串 -->
<!-- <group>  
    <port name="can0" type="can">  
        <package id="0x201" name="CAN_ID_CHASSIS" debug="DEBUG_PRINT_ID_IF_RECEIVED;DEBUG_PRINT_BUFFER"/>  
        <package id="0x202" name="CAN_ID_GIMBAL" debug="0"/>  
    </port>  
    <port name="can1" type="can">  
        <package id="0x201" name="CAN_ID_GYRO" debug="DEBUG_PRINT_ID_IF_RECEIVED;DEBUG_PRINT_BUFFER"/>  
        <package id="0x202" name="CAN_ID_SHOOT" debug="0"/>  
    </port>  
</group>   -->
    <port name="WT901BLE67" type="bluetooth">  
        <package id="0xFFE4" name="WT_BLT_RX" debug="DEBUG_PRINT_ID_IF_RECEIVED|DEBUG_PRINT_BUFFER|DEBUG_PRINT_TARGET"/>  
        <package id="0xFFE9" name="WT_BLT_TX" debug="DEBUG_PRINT_ID_IF_RECEIVED|DEBUG_PRINT_BUFFER|DEBUG_PRINT_TARGET"/>  
    </port>  
<group>    
    <!-- <port name="/dev/ttyUSB0" baud="115200" type="serial">  
        <package id="0x301" name="SERIAL_ID_JUDGE" debug="DEBUG_PRINT_ID_IF_RECEIVED|DEBUG_PRINT_BUFFER|DEBUG_PRINT_TARGET"/>  
        <package id="0x302" name="SERIAL_ID_SHOOT" debug="0"/>  
    </port>   -->
    <port name="COM0" baud="115200" type="serial">  
        <package id="0x301" name="CHASSIS_ID"/>  
        <package id="0x305" name="GIMBAL_ID" debug="DEBUG_PRINT_ID_IF_RECEIVED"/>
        <package id="0x306" name="GYRO_ID" debug="DEBUG_PRINT_ID_IF_RECEIVED;DEBUG_PRINT_BUFFER"/>  
        <package id="0x307" name="JUDGE_ID" debug="DEBUG_PRINT_ID_IF_RECEIVED|DEBUG_PRINT_BUFFER|DEBUG_PRINT_TARGET"/>  
        <package id="0x308" name="TEST_TIME" debug="0"/>  
    </port>  
</group>  
</opencv_storage>